<p style="color: green"><%= notice %></p>

<div> <%= link_to "Back to people", admin_people_path %> </div>

<%= turbo_frame_tag 'person_details' do %>
  <div>
    <h1> <%= name_with_title(@person) %> </h1>
    <% if @detail.present? %>
      <p> email: <%= @detail.email %> </p>
      <p> age: <%= @detail.age %> </p>
      <p> phone: <%= @detail.phone %> </p>
    <% end %>

    <%= link_to "Edit this person", edit_admin_person_path(@person), data: { turbo: false } %>

    <%= button_to "Destroy this person", admin_person_path(@person), method: :delete, data: { turbo: false } %>
  </div>
<% end %>
